.popup-overlay {
    visibility: hidden;
}

.popup-content {
    visibility: hidden;
}

.popup-overlay.active {
    visibility: visible;
}

.popup-content.active {
    visibility: visible;
}

/* .form-check1 {
    visibility: hidden;
}

.form-check2 {
    visibility: hidden;
}

.form-check3 {
    visibility: hidden;
}

.form-check4 {
    visibility: hidden;
}

.form-check5 {
    visibility: hidden;
} */